* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1, header div {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
    background-color: grey;
}

.content {
    min-width: 50%;
    max-width: fit-content;
    margin: 50px auto;
    background-color: aqua;
}

.content section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content section h2 {
    text-align: center;
}

button {
    margin: 40px;
    padding: 10px;
    width: 200px;
}

/* main menu styling */

#main-menu {
    height: 200px;
    text-align: center;
    padding: 40px;
}

/* quiz styling */
#quiz-content div {
    flex: 1 1 100%;
    text-align: center;
}

.question {
    padding: 15px;
}

.answer-choices, .real-answer {
    display: inline-block;
}

.answer-choices {
    min-width: 75%;
}

.answer-choices li, .real-answer li {
    padding: 10px;
    margin: 5px 0;
    list-style: none;
    background-color: red;
    border-radius: 5px;   
    text-align: center;
}

/* end menu styling */
#end-menu div {
    flex: 1 1 100%;
    text-align: center;
}

/* highscore menu styling */
#highscore-menu h2 {
    border-bottom: 5px solid #000;
}